<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" [routerLink] ="['/home']">
      <ion-icon name="home-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      Amin Prayugi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hengky Darmawan, Wiwik Listiyarini, Amin Prayugi</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <h2>Cumlaude</h2>
    <img src="../../assets/amin.jpeg" width="190" height="200" alt="">
    <p>Name : Amin Prayugi</p>
    <p>Tanggal Lahir : Demak , 21 Juli 2000</p>
    <p>Jurusan : Teknik Informatika</p>
    <p>Angkatan : 2019</p>
    <p>Alamat : Banjarsari Sayung, Demak</p>
    <p>IPK : 3.94</p>
    <p>Project : </p>
    <ion-button [routerLink] ="['/detailamin']" expand="full" color="secondary">See Project</ion-button>
  </div>
  <footer><b>Copyright &copy; 2021 <br><br> Hengky Darmawan, Wiwik Listiyarini, Amin Prayugi</b></footer>
</ion-content>
