<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" [routerLink] ="['/hlmwiwik']">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      Wiwik Listiyarini
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hengky Darmawan, Wiwik Listiyarini, Amin Prayugi</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <h2>Website E-Commerce</h2>
    <img src="../../assets/wiwik/01_ecommer.png" width="200" alt="">
  </div>
</ion-content>
