<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     <p style="font-size: large;">Cumlaude Students From UNDIRA </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hengky Darmawan, Wiwik listiyarini, Amin Prayugi</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <h1>Angkatan 2019 - 2022</h1>
    <img src="../../assets/undira.jpeg" width="90" alt="">
    <ion-button [routerLink] ="['/hlmamin']" expand="full" color="secondary">Amin Prayugi</ion-button>
    <ion-button [routerLink] ="['/hlmhengky']" expand="full" color="secondary">Hengky Darmawan</ion-button>
    <ion-button [routerLink] ="['/hlmwiwik']" expand="full" color="secondary">Wiwik Listiyarini</ion-button>
  </div>
</ion-content>


